body{background-color: #f7f7f7;}

a{text-decoration: none;}
html,body{overflow-x: hidden;}

/* START: Image Containers */
.image-container,.image-container-cars,.image-container-chauffeur,.image-container-partner,
.image-container-sustainability,.image-container-aboutus,.image-container-faq,
.image-container-testimonial,.image-container-oneway,.image-container-airport,
.image-container-tours,.image-container-business,.image-container-events,.image-container-sclass,
.image-container-manchaster,.image-container-services, .image-container-wedding{
    background-image: url('../assets/banners/carbackground.jpg');
    margin-top: -20px;
    width: 100vw;
    height: 768px;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: unset;
}
.image-container-cars{
    background-image: url('../assets/banners/chauffeur2.jpeg');
}
.image-container-chauffeur{
    background-image: url('../assets/banners/chauffeur.jpg');
}
.image-container-partner{
    background-image: url('../assets/banners/partnerwithus.jpg');
}
.image-container-selectcar{
    background-color: #222;
    height: 80px;
    margin-top: -20px;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: unset;
}
.image-container-contact{
    background-color: #181717;
    height: 400px;
    margin-top: -20px;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: unset;
}
.image-container-sustainability{
    background-image: url('../assets/banners/mountains.webp');
}
.image-container-aboutus{
    background-image: url('../assets/banners/aboutus.jpg');
}
.image-container-blog{
    background-color: #181717;
    height: 500px;
    margin-top: -20px;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: unset;
}
.image-container-faq{
    background-image: url('../assets/banners/faq.jpg');
}
.image-container-testimonial{
    background-image: url('../assets/banners/testimonial.jpeg');
}
.image-container-oneway{
    background-image: url('../assets/banners/oneway.webp');
}
.image-container-airport{
    background-image: url('../assets/banners/airport.jpeg');
}
.image-container-business{
    background-image: url('../assets/banners/business.jpg');
}
.image-container-events{
    background-image: url('../assets/banners/events.jpg');
}
.image-container-tours{
    background-image: url('../assets/banners/tours.jpg');
}
.image-container-sclass{
    background-image: url('../assets/banners/s_class.jpg');
}
.image-container-manchaster{
    background-image: url('../assets/banners/manchaster.jpg');
}
.image-container-services{
    background-image: url('../assets/banners/services.jpg');
}
.image-container-wedding{
    background-image: url('../assets/banners/wedding.jpg');
}
/* END: Image Containers */

/* START: Travel Bar */
.travel-bar{
    background-color: #222;
    color: white;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.travel-heading h4{
    color: #c7bcbc;
}
/* END: Travel Bar */


/* START: Chauffeur */
.chauffer-btn{   
    background-color: transparent;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: white;
    box-shadow: inset 0 0 0 2px white;
    background-color: transparent;
}

.chauffer-btn:hover{
    color: black;
    background-color: white;
    border: none;
}
/* END: Chauffeur */

/* START: Car Guide */
.cars-guide-title{
    text-align: center;
    margin-top: 8%;
}

.cars-guide-title h1{
    font-size: 48px;
    font-weight: 400;
}

/* START: price cards */
.car-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.price-card{
    width: 300px;
}

.price-card-image{
    text-align: center;
}
.price-card-image a img{
    width: 250px;
    height: 250px;
}

.price-card-image a img:hover{
    opacity: 75%;
    width: 280px;
}

.price-card-info p span{
    font-size: 13px;
    line-height: 30px;
}
/* END: price cards */
/* END: Car Guide */

/* START: Video Section */
.video-section {
    text-align: center;
    padding: 0 70px;
    margin-top: 8%;
}

.video-wrapper {
    max-width: 100%;
    overflow: hidden;
}

.video-wrapper video {
    width: 100%;
    height: 500px;
    display: block;
}
video {
    width: 100%;
    height: auto;
    display: block;
}

.video-section-info{
    margin-top: 5%;
    text-align: center;
}
.video-info-para{
    margin-top: 30px;
    width: 45%;
    margin: 0 auto;
}
/* END: Video Section */

.our-company-btn{
    margin-top: 30px;   
    background-color: transparent;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: black;
    box-shadow: inset 0 0 0 2px black;
    background-color: transparent;
}

.our-company-btn:hover{
    color: white;
    background-color: black;
    border: none;
}

.our-company-btn a{
    text-decoration: none;
    color: black;
}

.our-company-btn a:hover{
    color: white;
}

/* Our Services */
.our-services-section{
    margin-top: 8%;
    background-color: #181515;
    padding: 8px;
}

.service-cards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
}
.service-card{
    margin-top: 10px;
    width: 350px;
    background-color: #222;
}

.service-card a img{
    width: 350px;
    height: 200px;
}

.service-card-info{
    padding: 5px 10px;
    color: white;
}

.service-card-info h4{
    color: #727070;
}

/* Slider Section */

.slider-section{
    margin: 5% 0;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.slider-nav {
    text-align: center;
    margin-top: 10px;
}

.slider-nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.slider-nav button:focus {
    outline: none;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.slide-active {
    background-color: #000;
}

/* journey Section */
.journey-section{
    margin-top: 8%;
    background-color: #181515;
}

.booking-btn{
    margin-top: 30px;   
    background-color: transparent;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: white;
    box-shadow: inset 0 0 0 2px #0e5ae7;
    background-color: #0e5ae7;
}

.booking-btn:hover{
    color: white;
    background-color: #184db1;;
    border: none;
}   

.chauffeur-image{
    margin-top: 10px;
    width: 100%;
    height: 580px;
    /* background-image: linear-gradient(to top, rgba(2, 0, 36, 0.39) 33%, rgba(1,21,25,1) 90%), url('../assets/chauffeur.jpg'); */
    background-image: url('../assets/chauffeur2.jpg');
    background-size: cover;
    background-position: center;
    background-clip: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS Styling for Page 2 */
.chauffer-cars-section{
    margin-top: 15%;
    margin-left: 7%;
    color: white;
}

.chauffer-cars-heading h1{
    font-size: 54px;
}

/* Vehicle cards */
.vehicle-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.v-card{
    width: 520px;
    height: auto;
}

.v-card a{
    text-decoration: none;
    color: black;
}

.v-card-info{
    margin-top: 30px;
    display: flex;
    gap: 0.5rem;
}

.v-card-specs{
    width: 200px;
}
.v-card-specs img{
    width: 20px;
    height: 20px;
}

.price-card-info{
    width: 280px;
}

.ourcars-chauffeur-image{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    /* background-image: linear-gradient(to bottom, #121fcf15 8%, #181515 90%), url('../assets/chauffeur.jpg'); */
    background-image: url('../assets/chauffeur.jpg');
    background-size: cover;
    background-position: center;
    background-clip: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
}

/* Slider Section */

.ourcars-slider-section{
    margin-top: 8%;
}
.ourcars-slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.ourcars-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.ourcars-slide {
    min-width: 100%;
}

.ourcars-slide img {
    width: 100%;
    height: auto;
}

.ourcars-slider-nav {
    text-align: center;
    margin-top: 10px;
}

.ourcars-slider-nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.ourcars-slider-nav button:focus {
    outline: none;
}

.ourcars-prev {
    float: left;
}

.ourcars-next {
    float: right;
}

.ourcars-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ourcars-indicator {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.ourcars-slide-active {
    background-color: #000;
}

/* Chauffeur Page */
.join-team-section{
    background-color: #181515;
    padding: 8px;
    color: white;
}

.chauffeur-info-section{
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
}
.chauffeur-details, .chauffeur-video{
    width: 40%;
}


.c-test-cards{
    margin-top: 15px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.c-card{
    width: 230px;
    background-color: white;
    padding: 25px;
}

.c-card img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.c-card-details{
    text-align: left;
}

.c-card-details h4{
    color:#b1b1b1;
}
.c-card-details p{
    text-align: justify;
    font-size: small;
}

.c-cards-btn{
    padding: 10px 20px;
    margin: 10px;
}

/* partner page */
.why-us-section{
    background-color: #e6e7ec;
    padding: 8px;
}

.benifit-box{
    margin-top: 15px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.benifit-box > div{
    width: 250px;
}

.chauffeur-says-cards{
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cs-card{
    width: 40%;
    display: flex;
    gap: 2rem;
}

.cs-image img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.cs-info-card p{
    font-size: 80%;
}

.j-info-para{
    margin-top: 30px;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.j-info-para a{
    color: black;
}

.article-cards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
}
.article-card{
    width: 350px;
    background-color: white;
}

.article-card a img{
    width: 350px;
    height: 200px;
}

.article-card-info{
    padding: 5px 10px;
    color: black;
}

.article-card-info h1{
    font-size: medium;
}

.article-card-info p{
    font-size: small;
    font-weight: 300;
}

/* Select Car Page*/
.select-car-section{
    background-color: #e6e7ec;
    padding: 8%;
}

.select-car-steps{
    color: #2689ee;
}

.step-circles{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.step-circles .step2{
    background-color: #2689ee;
    color: white;
}

.step-circles p{
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.car-icon-bar{
    display: flex;
    gap: 1rem;
}
.car-icon-bar img{
    width: 20px;
    height: 20px;
}
.journey-price{
    padding: 20px;
    background-color: #ebf1f5;
    width: 300px;
}

.car-cards-section{
    margin-top: 50px;
}
.select-car-btn{
    border: none;
    background-color: #0e5ae7;
    color: white;
    padding: 10px 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cp-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cp-stuff{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

/* Contact Page */
.contact-us-heading{
    margin-top: 8%;
    color: white;
    text-align: center;
    font-size: 48px;
}

.enquiry-section{
    background-color: #e6e7ec;
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Address-section{
    background-color: #e6e7ec;
    padding: 6%;
}

.enquiry-form{
    width: 50%;
}
.enquiry-form input[type=text]{
    border: 1px solid #555;
    width: 80%;
    padding: 10px 8px;
  }

.enquiry-form input[type=email]{
    border: 1px solid #555;
    width: 80%;
    padding: 10px 8px;
  }

.enquiry-btn{
    width: 80%;
    border: none;
    background-color: #0e5ae7;
    color: white;
    padding: 10px 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.enquiry-form .enquiry-btn{
    width: 85%;
}

#enquire{
    width: 83%;
}

/* Safety Page */
.safety-section{
    background-color: black;
    padding: 8px;
}

/* Sustainability */

.sustainability-section{
    background-color: #1e3a02;
    padding: 8px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.image-slider-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mySlides img{
    width: 90%;
    height: 500px;
    margin-left: 50px;
}

.chauffeur-video img{
    width: 75%;
}

/* About Us Page */
.blog-articles{
    margin-top: 8%;
}

/* Faq */


.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: transparent;
    overflow: hidden;
  }

  .faqs{
    margin: 20px 0;
    width: 75%;
  }

  .accordian-faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* Testimonial */


/* press and Media */
.test-images{
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.test-images img{
    width: 40%;
}

/* By the Hour */


.cities-and-prices{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.city-image img{
    width: 300px;
    height: 500px;
}

.cities ul li{
    list-style: none;
    line-height: 25px;
}

/* By the hour page */
.price-card-info-new{
    width: 100%;
}


.box-images{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.box-big-image img{
    width: 547px;
    height: 410px;
}

.box-small-images{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box-small-images img{
    width: 298px;
    height: 199px;
}

/* Airport Page */


.airport-details{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.airport-info ul li{
    line-height: 25px;
}
.airport-info ul li a{
    color: black;
}

.airport-image img{
    width: 300px;
}

/* Booking Details */
.details-form-section{
    display: flex;
    gap: 2rem;
}
.booking-details-form{
    width: 100%;
    background-color: white;
    padding: 20px;
}

.button {
    background-color: #0f9dda;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.details-form input[type="text"],
.details-form input[type="tel"],
.details-form input[type="email"],
.details-form input[type="number"],
.details-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details-form select {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-label {
    margin-right: 10px;
}

/* Events page */
.event-paras{
    padding: 4% 8%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.e-para1, .e-para2{
    width: 30%;
    text-align: left;
    font-size: smaller;
}

/* Tours */
.get-price-btn{
    width: 75%;
}
.price-card-info .get-price-btn{
    width: 100%;
    font-size: 10.5px;
}

/* S Class */

/* Book Form */
.book-form-section{
    padding: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.book-form{
    width: 300px;
    background-color: white;
}

.book-form h1{
    text-align: center;
    margin-top: 10px;
 }

.book-form-btns{
    margin: 10px 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.j-para-airport-info{
    width: 30%; 
    margin-left: 20%;
}


.financial-roadshow{
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

@media screen and (max-width: 1029px) {
    .mySlides img{
        width: 90%;
        height: 400px;
        margin-left: 50px;
    }
    
    .details-form-section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .box-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-big-image img{
        width: 600px;
        height: 410px;
    }
    
    .box-small-images img{
        width: 600px;
        height: 410px;
    }

    .cities-and-prices{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 8%;
    }

    .city-image img{
        width: 100%;
        height: auto;
    }
    
    .travel-bar{
        padding: 3% 0;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .travel-heading{
        text-align: center;
    }

    .video-info-para{
        width: 100%;
        margin: 0 auto;
    }

    .chauffeur-info-section{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .chauffeur-details{
        text-align: center;
    }

    .chauffeur-details, .chauffeur-video{
        width: 80%;
    }

    .cs-image img{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        float: left;
    }

    .cs-card{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .test-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test-images img{
        width: 100%;
    }

    .chauffeur-video img{
        width: 85%;
    }

    .enquiry-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 487px){
    .box-big-image img{
        width: 400px;
        height: 310px;
    }
    
    .box-small-images img{
        width: 400px;
        height: 310px;
    }
    .chauffeur-video img{
        width: 100%;
    }

    .j-para-airport-info{
        width: 80%; 
        margin-left: 10%;
    }
    
}

@media (max-width: 500px){
    .v-card a img{
        width: 350px;
    }

    .v-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .v-card-info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .car-icon-bar span{
        font-size: 10px;
    }

    .cp-card img{
        width: 410px;
    }
    .cp-stuff{
        margin-left: 5%;
    }

    .cars-guide-title h1{
        font-size: 30px;
    }

    .j-info-para{
        margin-top: 30px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }   

    .chauffeur-video img{
        width: 100%;
    }

    .contact-us-heading{
        margin-top: 8%;
        color: white;
        text-align: center;
        font-size: 35px;
    }

    .sustainability-heading h1{
        font-size: 35px;
    }

    .sustainability-heading h3{
        font-size: 15px;
    }
}

@media (max-width: 700px){
    .enquiry-form{
        width: 100%;
    }
    .mySlides img{
        width: 90%;
        height: 300px;
        margin-left: 20px;
    }
    
    .chauffeur-video img{
        width: 75%;
    }

    .cp-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .chauffeur-video img{
        width: 100%;
    }

    .event-paras{
        padding: 4% 8%;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .e-para1, .e-para2{
        width: 100%;
        text-align: left;
        font-size: smaller;
    }
    /* Join team part */
    .join-team-para h1{
        font-size: 25px;
    }
}

@media (max-width: 390px){
    .cp-card img{
        width: 320px;
    }

    .chauffeur-video img{
        width: 100%;
    }

    .enquiry-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-us-heading{
        margin-top: 28%;
        color: white;
        text-align: center;
        font-size: 28px;
    }
    
}

/* Blog Buttons */
.blog-prevandnext-btns {
    text-align: center;
    margin-top: -8%;
}

#cprevButton, #cnextButton{  
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 32px;
    padding: 0px 16px;
    border-radius: 50px;
    background-color: #2222220d;
    color: #222;
    font-size: 12px;
    font-weight: 500;
}

#cprevButton:hover, #cnextButton:hover {
    background-color: #2222221a;
}

/* START: Color Change blue */
.travel-bar, .our-services-section, .journey-section, .enquiry-section, 
.image-container-selectcar, .image-container-contact, .image-container-blog,
.join-team-section{
    background-color: #00308F !important;
}

.service-card{
    background-color: #00205b;
}
/* END: Color Change blue */

/* START: Color Change green */
/* .travel-bar, .our-services-section, .journey-section{
    background-color: #008000;
}
.service-card{
    background-color: #006400;
}

.booking-btn, .get-price-btn{
    box-shadow: inset 0 0 0 2px #004b23;
    background-color: #004b23;
}

.booking-btn:hover, .get-price-btn:hover{
    color: white;
    background-color: #013f1e;;
    border: none;
}    */
/* END: Color Change green */

.sliding-text-box{
    background-color: #00308F;
    color: white;
    margin: 0.8rem 0;
    padding: 0.3rem 0;
    width: 100%;
    overflow: hidden;
  }
  .sliding-text {
    width: 100%;
    white-space: nowrap;
    animation: slideRight 20s linear infinite;
  }
  
  @keyframes slideRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
  }

  /* START: Car Blocks */
  .car-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .car-blocks img{
    margin-top: 20px;
    width: 350px;
    height: 350px;
  }
  /* END: Car Blocks */
  
  /* START: Swiper js car cards */
  .container {
    width: 100%;
    column-gap: 40px;
    padding: 5%;
    background-color: #e8e8e8;
  }
  .container .side-info {
    margin: 15px 0;
  }
  
  .container .side-info span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #717171;
  }
  
  .container .side-info h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 56px;
    background-color: #005baa;
    background-image: linear-gradient(45deg, #005baa, #000000);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .container .side-info hr {
    display: block;
    background: #005baa;
    height: 4px;
    width: 20%;
    margin: 18px 0;
  }
  
  .container a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 50px;
    border: 2px solid #c2c2c2;
    padding: 8px 16px;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
  }
  
  .container a:hover {
    border: 2px solid #005baa;
    color: #005baa;
  }
  
  .container .swiper {
    width: 100%;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  
  .swiper-pagination {
    bottom: 20px !important;
  }
  
  .swiper-slide {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.5);
  }
  
  .swiper-slide h2 {
    text-shadow: 2px 2px black;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 0 0 0 24px;
    text-transform: uppercase;
  }
  
  .swiper-slide a {
    margin: 20px 25px 50px !important;
    padding: 8px 16px !important;
    font-size: 14px;
    border: none;
  }
  
  .swiper-slide a:hover {
    border: none;
  }
  
  .swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 10px;
  }
  
  .swiper-slide-active div {
    display: block;
    opacity: 1;
  }
  
  .slide-one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../assets/Mercedes-S-Class.webp") no-repeat 50% 50% / cover;
  }
  
  .slide-two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../assets/Mercedes-V-Class.webp") no-repeat 50% 50% / cover;
  }
  
  .slide-three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../assets/Mercedes-E-Class.webp") no-repeat 50% 50% / cover;
  }
  
  /* Responsive Design */
  @media (min-width: 800px) {
    .container {
      display: flex;
      align-items: center;
    }
  
    .container .side-info {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 500px) {
    .container .side-info h1 {
      font-size: 46px;
    }
  
    .container .side-info p {
      font-size: 14px;
    }
  }
  /* END: Swiper js car cards */